@using Microsoft.AspNetCore.SignalR.Client
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
        <ToastComponent/>
    </div>

    <main>
        <div class="top-row px-4">
            <AuthLinks />
        </div>
        <CascadingValue Value="_hubConnection">
            @Body
        </CascadingValue>
    </main>
    <footer>
        <div></div>
    </footer>
</div>

@code
{
    private HubConnection _hubConnection;

    protected override async Task OnInitializedAsync()
    {
        if (!await _authenticationService.IsUserAuthenticated())
        {
            StateHasChanged();
            _navigationManager.NavigateTo("/login");
        }
        else
        {
            _hubConnection = new HubConnectionBuilder()
                .WithUrl("https://localhost:7280/chathub", options =>
                {
                    options.AccessTokenProvider = async () => await _authenticationService.GetAccessToken();
                })
                .Build();

            await _hubConnection.StartAsync();
        }
    }

        public bool IsConnected =>
            _hubConnection is {State: HubConnectionState.Connected};

        public async ValueTask DisposeAsync()
        {
            if (_hubConnection is not null)
            {
                await _hubConnection.DisposeAsync();
            }
        }
}
