@using Microsoft.AspNetCore.SignalR.Client
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
        <ToastComponent/>
    </div>

    <main>
        <div class="top-row px-4">
            @_store.CurrentCount
            <AuthLinks/>
        </div>
        <div class="content px-4">
            @Body
        </div>
        <div class="botom-row">
            footer
        </div>
    </main>
</div>

@code
{
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Mail Layout Render");
        _store.OnChange += StateHasChanged;
        if (!await _authenticationService.IsUserAuthenticated())
        {
            _navigationManager.NavigateTo("/login");
        }
        else
        {
            _store.HubConnection = new HubConnectionBuilder()
                .WithUrl("https://localhost:7280/chathub", options =>
                {
                    options.AccessTokenProvider = async () => await _authenticationService.GetAccessToken();
                })
                .Build();

            await _store.HubConnection.StartAsync();
        }
    }

        public bool IsConnected =>
            _store.HubConnection is {State: HubConnectionState.Connected};

        public async ValueTask DisposeAsync()
        {
            _store.OnChange -= StateHasChanged;
            if (_store.HubConnection is not null)
            {
                await _store.HubConnection.DisposeAsync();
            }
        }
}
