<AuthorizeView>
    <Authorized>
        Hello,
        @if (UserName != null)
        {
            @UserName
        }
        <a href="logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="registration">Register</a>
        <a href="login">Log in</a>
    </NotAuthorized>
</AuthorizeView>